/* GENERAL */

@font-face{
    font-family: 'Poppins-Regular';
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face{
    font-family: 'AlfaSlabOne-Regular';
    font-weight: 400;
    src: url('../fonts/AlfaSlabOne-Regular.ttf') format('truetype');
    font-display: swap;
}

:root {
    --main-color: #f3f2ea;
 }
 

body{
    background-color: var(--main-color) !important;
}

/* MENU PRINCIPAL */

.ast-site-identity .site-title a {
    color: var(--ast-global-color-1);
    letter-spacing: 1.5px;
}

.ast-header-break-point #ast-mobile-header {
    display: block;
    position: fixed;
    width: 100%;
}


#ast-desktop-header {
    position: fixed;
    width: 100%;
}

/* MENU SECONDAIRE */

.ast-mobile-header-content, .content-align-flex-start{
    position: absolute;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    position: fixed;
}

.ast-mobile-header-wrap .ast-mobile-header-content, .ast-desktop-header-content {
    background-color: #fa6363eb;
}

.ast-builder-menu-mobile .main-navigation .main-header-menu, .ast-builder-menu-mobile .main-navigation .main-header-menu .sub-menu {
    background-color: #f3f2ea00;
}


.ast-builder-menu-mobile .main-navigation .menu-item.current-menu-item > .menu-link, .ast-builder-menu-mobile .main-navigation .inline-on-mobile .menu-item.current-menu-item > .ast-menu-toggle, .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-ancestor > .menu-link, .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-ancestor > .ast-menu-toggle {
    color: #ffffff;
    background: #f0f5fa00;
    font-size: xx-large;
}

#ast-hf-mobile-menu{
    height: 100vh;
    display: flex;
    align-content: center;
    font-size: xx-large;
    margin-left: 50px;
}

#ast-hf-mobile-menu a{
    color: white;
}

/* CONTENU PRINCIPAL */

#ast-scroll-top{
    border-radius: 20px;
}

.site-content{
    margin-top: 80px;
}

/* ACCUEIL */

.bloc-a-propos{
    display: flex;
    justify-content: center;

}

/*
.bloc-parcours{
  flex-wrap: wrap !important;
  justify-content: center;
  width: 100%;
  justify-content: space-around !important;

}*/


.bloc-picto{
    width: 160px;
}

.wp-block-latest-posts li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wp-block-latest-posts li a{
    font-size: 15px;
}

/*
.wp-post-image:hover{
opacity: 0.5;
}*/

.uagb-post__image img{
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.uagb-post__image img:hover{
opacity: 0.65;
}

.wpforms-container .wpforms-field-label {
    font-weight: 400;
}

.wpforms-submit-container{
    text-align: center;
}

#wpforms-submit-173{
padding-right: 35px;
padding-left: 35px;
}

#wpforms-submit-173:hover{
    background-color: #fa6363;
    }


/* PAGE PROJET */

.title-post{
font-family: 'Poppins-Regular' !important;
}

.entry-meta{
    display: none;
}

.entry-title{
    font-size: 3rem !important;
    padding-left: 36px;
    font-family: 'AlfaSlabOne-Regular' !important;
    font-weight: 400 !important;
}

.bloc-post-description{
    text-align: justify;
    margin-top: 45px !important;
}

.bloc-post-github{
    padding-left: 0px !important;
}

.image-avant-post{
    height: 90%;
}

.image-avant-post img{
    height: 100%;
    border-radius: 50px;
}

/* PIED DE PAGE */

/* MENTIONS LEGALES */

.title-mentions-legales{
    font-family: 'Poppins-Regular' !important;
    font-size: 35px !important;
}

/* MEDIA QUERIES */

@media (max-width : 900px ) {

.bloc-picto-a-propos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc-a-propos{
    display: block !important;
}

.bloc-paragraphe-a-propos{
    text-align: center;
    margin-top: 70px !important;
    width: 80%;
}

}

/* Page post */

@media (max-width: 921px){

    .ast-separate-container .ast-article-single:not(.ast-related-post) {
        background-color: unset;
    }

}

/* MENTIONS LEGALES */

@media (max-width: 921px){

    .title-mentions-legales{
        font-size: 20px !important;
    }

}


